@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #471f00;
  --secondary: #934000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fffcf3;
    --secondary: #efe5c4;
  }
}

