@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #471f00;
  --secondary: #934000;
  --card-bg: #ffffff;
}

html.dark {
  --primary: #fffcf3;
  --secondary: #efe5c4;
  --card-bg: #2d2d2d;
}

